__pycache__/

# Output files
SP/standard/output/*
SP/standard/output.zip
SP/standard/SP.smet

AP/standard/output/*
AP/standard/output.zip
AP/standard/AP.smet

drylake/standard/output/*
drylake/standard/output.zip
drylake/standard/drylake.smet

drylake_tea/standard/output/*
drylake_tea/standard/output.zip
drylake_tea/standard/drylake_tea.smet

G1/standard/output/*
G1/standard/output.zip
G1/standard/G1.smet

G2/standard/output/*
G2/standard/output.zip
G2/standard/G2.smet

# Exclusions
!AP/standard/output/README.txt
!SP/standard/output/README.txt
!drylake/standard/output/README.txt
!drylake_tea/standard/output/README.txt
!G1/standard/output/README.txt
!G2/standard/output/README.txt
